# Oh-my-zsh configuration
export ZSH="/home/themimitoof/.oh-my-zsh"
ZSH_THEME="norm"
plugins=(
  git
  docker
  docker-compose
  asdf
)

source $ZSH/oh-my-zsh.sh

# Golang specific configuration
export GOENV_ROOT="$HOME/.goenv"
export GOPATH=$HOME/go

# Pyenv specific configuration
export PYENV_ROOT="$HOME/.pyenv"

# Environment variables
export EDITOR="nvim"
export PATH="$PATH:$HOME/.local/bin:$HOME/.cargo/env:$HOME/.poetry/bin:$GOENV_ROOT/bin:$GOPATH/bin:$PYENV_ROOT/bin"

# NVM specific configuration
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# Qt configuration (tweaks for fixing rendering issues with PGModeler)
export QT_AUTO_SCREEN_SCALE_FACTOR=0
export QT_SCALE_FACTOR=1

# Ansible configuration
export ANSIBLE_NOCOWS=1

# Aliases configuration
source ~/.aliases
source ~/.aliases_gandi

{{ if eq .chezmoi.fqdnHostname "izumo" }}
# Source specific configuration for gandi
source ~/.zshrc_gandi
source ~/.aliases_gandi
{{ end }}
