#!/bin/bash
# Specific stuff for MacOS
{{ if eq .chezmoi.os "darwin" -}}
# Install brew if not installed
if ! command -v brew &> /dev/null; then
    echo "Homebrew not found. Installing..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

echo "Installing brew formulas and casks..."
brew bundle --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
# Specific stuff for Linux
{{ else if eq .chezmoi.os "linux" }}
# Targeting ArchLinux
{{   if eq .chezmoi.osRelease.id "arch" }}
    # Check if yay is installed
    if ! command -v yay &> /dev/null; then
        echo "yay not found. Installing..."

        # Ensure git is installed
        if ! command -v git &> /dev/null; then
            echo "git not found. Installing..."
            sudo pacman -S --noconfirm --needed git base-devel
        fi

        # Clone and install yay
        git clone https://aur.archlinux.org/yay-bin.git /tmp/yay
        cd /tmp/yay
        makepkg -si --noconfirm
        cd -
        rm -rf /tmp/yay
    fi

    echo "Installing packages via pacman..."
    # ...

    echo "Installing packages via AUR using yay..."
    # ...
{{ else -}}
    echo "This distribution is not supported."
    exit 1
{{ end }}
# For Windows and the rest...
{{ else -}}
echo "Not sure if this system is compatible :/"
{{ end -}}
